 @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
*{
margin:0;
padding:0;
}
body{
    background-color: beige;
    min-height:100vh;
}
nav{
    font-family: 'Playpen Sans', cursive;
}
nav ul{
    display:flex;
    align-items:center;
    list-style-type: none;
    background-color: black;
    color:white;
    height:50px;
}
nav ul li{
    padding:0 12px;
}
.brand img{
    width:52px;
    padding:0 8px;
}
.brand{
    display:flex;
    align-items:center;
    justify-content: center;
    font-weight:bolder;
    font-size:1.3rem;

}
.container{
    min-height:40vh;
    background-color:black;
    color:white;
    font-family: 'Playpen Sans', cursive;
    display:flex;
    margin:15px auto;
    width:72%;
    background-image: url("assets/bg 3.webp");
    background-size:cover;
    background-repeat: no-repeat;
    border-radius:12px;
    padding:0px 15px;
}
.bottom{
    position:sticky;
    height:60px;
    margin-top:25px;
    background-color: black;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    flex-direction:column;
}
.icons{
    
    margin-top:10px;
}
.icons i{
    cursor:pointer;
    margin:0 2px;
}

#myProgressBar{
    width:80vw;
    cursor:pointer;
}
.songItem{
    display:flex;
    height:3em;
    background-color:azure;
    color:black;
    margin:12px 0;
    justify-content: space-between;
    align-items:center;
    border-radius: 25px;;
    cursor:pointer;
}

.timeStamp .fa-solid{
    padding:0 8px;
}
.songItem img{
    width:40px;
    height:40px;
    margin:0 20px;
}
.timeStamp{
    margin:0 20px;
}
.songInfo img{
    margin-right:7px;
    opacity:0;
    transition:opacity 0.4s ease-in;
}
.songInfo{
    position:absolute;
    left:10vw;
    top:30px;
    
}
@media ((max-width:480px)){
    .container{
       width:80%;
    }
    h1{
        font-size:1em;
    }
    .songItem{
        width:100%;
        
    }
    .songList{
        margin-left:10px;
    }
    .bottom{
        height:100px;
        display:flex;
        flex-direction: column;;
    }
    .icons{
        margin-top:30px;
    }
 #myProgressBar{
    bottom:20px;
 }
 .songInfo{
    margin-left:80px;
    
 }
}